<h1>{{data.skillName}} <small>({{data.memberName}})</small></h1>

<table>
  <tr *ngFor="let skillVariant of skillVariants" [class]="(skillVariant.level === data.level) ? 'selected' : ''"
      (click)="closeDialog(skillVariant)">
    <td>
      <div class="skill-lvl-graph-{{data.style}}">
        <div class="circle-overlay"></div>
        <div class="circle-line-horizontal"></div>
        <div class="circle-line-vertical"></div>
        <div class="circle lvl-{{skillVariant.level}}"></div>
      </div>
    </td>
    <td class="wide"><em><strong>{{skillVariant.levelName}}</strong><br />{{skillVariant.levelDesc}}</em></td>
  </tr>
</table>

<br />

<button mat-button mat-dialog-close>Cancel</button>
