<div class="content" role="main">
  <!-- skill mapping table -->
  <div>
    <table>
      <tr>
        <th></th>
        <th class="rotate" *ngFor="let skill of teamSkills">
          <div>
            <span class="clickable" [matMenuTriggerFor]="skillMenu" aria-label="Menu">{{skill.name}}</span>
            <mat-menu #skillMenu="matMenu">
              <button mat-menu-item (click)="removeSkill(skill.name)">
                <mat-icon>delete</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu>
          </div>
        </th>
      </tr>
      <tr *ngFor="let member of team; index as i">
        <th class="left">
          <span class="clickable" [matMenuTriggerFor]="memberMenu" aria-label="Menu">{{member.name}}</span>
          <mat-menu #memberMenu="matMenu">
            <button mat-menu-item (click)="removeMember(member.name)">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </th>
        <td class="skill-lvl" *ngFor="let skill of teamSkills" (click)="openChangeLvlDialog(member, skill, i%6)">
          <div class="skill-lvl-graph-{{i%6}}">
            <div class="circle-overlay"></div>
            <div class="circle-line-horizontal"></div>
            <div class="circle-line-vertical"></div>
            <div class="circle lvl-{{member.skills.get(skill.name)}}"></div>
          </div>
        </td>
      </tr>
    </table>

    <br/>

    <!-- buttons -->
    <div>
      <div fxLayout="row">
        <button mat-raised-button color="primary" (click)="openAddPersonDialog()"
          title="Add new team member">
          <mat-icon aria-hidden="false" aria-label="Add person">group_add</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="openAddSkillDialog()" fxFlexOffset="4px"
          title="Add new skill">
          <mat-icon aria-hidden="false" aria-label="Add skill">library_add</mat-icon>
        </button>

        <span fxFlex></span>

        <button mat-raised-button color="basic" (click)="restart()" fxLayoutAlign="end start"
                title="Clear everything - complete reset">
          <mat-icon aria-hidden="false" aria-label="Clear everything - complete reset">delete_forever</mat-icon>
        </button>
        <button mat-raised-button color="basic" (click)="export()" fxLayoutAlign="end start"
          title="Export">
          <mat-icon aria-hidden="false" aria-label="Export">cloud_download</mat-icon>
        </button>
        <button mat-raised-button color="basic" fxLayoutAlign="end start"  fxFlexOffset="4px"
          title="Import" (click)="uploader.click()">
          <mat-icon aria-hidden="false" aria-label="Import">cloud_upload</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="save()" fxLayoutAlign="end start" fxFlexOffset="4px"
                title="Save">
          <mat-icon aria-hidden="false" aria-label="Save changes">save</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- hidden uploader for import functionality -->
<input type="file" #uploader hidden (change)="handleFileInput($event)">
