<h1>Team skill matrix</h1>

<!-- table -->
<div>
  <table>
    <tr>
      <th></th>
      <th class="rotate" *ngFor="let skill of teamSkills"><div><span>{{skill.name}}</span></div></th>
    </tr>
    <tr *ngFor="let member of team; index as i">
      <th class="left">{{member.name}}</th>
      <td class="skill-lvl" *ngFor="let skill of teamSkills">
        <div class="skill-lvl-graph-{{i%4}}">
          <div class="circle-overlay"></div>
          <div class="circle-line-horizontal"></div>
          <div class="circle-line-vertical"></div>
          <div class="circle lvl-{{member.skills.get(skill.name)}}"></div>
        </div>
      </td>
    </tr>
  </table>

  <br />

  <button mat-raised-button color="primary" (click)="openAddPersonDialog()">
    <mat-icon aria-hidden="false" aria-label="Add person">group_add</mat-icon>
    Add person
  </button>

</div>
